body{
  text-align: center;
  background-color : grey;
}
.vantage{
  color: grey;
  background-color: white;
}
.die{
  border: solid black 5px;
  display: inline-block;;
  vertical-align: middle;
  text-align: center;
  margin: 0px auto;
}

.roll{
  border-top: solid black 5px;
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
img{
  display: block;
  height: 100px;
  width: 100px;
  margin: 0px auto;

}

.crit{
  color: :  lime;
  background-color: lime;
}

.fail{
  color: : red;
  background-color: red;
}
.groupList{
  display : inline-block;
  border : solid black 5px;
  float: left;
  width: 48%;
  background-color: lightgrey;
}
.playerList{
  display: inline-block;
  border : solid green 5px;
  width:48%;
  background-color: lightgrey;
}
#navbar{
  border-top: solid lightgrey 5px;
  border-bottom: solid lightgrey 5px;

}

#navbar a{
  display: inline-block;
  border-left: solid lightgrey 5px;
  border-right: solid lightgrey 5px;
  padding: 0px;
  width: 15%;
  color: red;
  background-color: lightyellow;
}

.initPut{
width : 6%;
text-align: center;
}
.bordered{
  border : solid darkgrey 5px;
  background-color: white;
}
