<h1>Groups</h1>
<button ng-show="false" type="button" name="button" ng-click="getPlayers('588655c4a489b7e882d4dd29')">Test</button>

<div class="groupList">
  <input type="text" name="" placeholder="New group" ng-model="group">
  <button type="button" name="button" ng-click="newGroup()">Create group</button>
  <br>
  {{failed}}
  <ul ng-repeat="groops in groupArr track by $index">
    <li ng-click="gettum()">{{groops.groupName}}</li>
  </ul>
</div>
<div class="playerList">
  <input type="text" name="" value="" placeholder="New Player" ng-model="playa">
  <button type="button" name="button" ng-click="newPlayer()">Create player</button>
  <br>
  {{failed}}
  <ul ng-repeat="players in selectedGroup track by $index">
    <li>{{players}}</li>
  </ul>
</div>
