<h1>Groups</h1>
<button ng-show="false" type="button" name="button" ng-click="getPlayers('588655c4a489b7e882d4dd29')">Test</button>

<div class="groupList">
  <input type="text" name="" placeholder="New group" ng-model="group" ng-show="showo">
  <button type="button" name="button" ng-click="newGroup()" ng-show="showo">Create group</button>
  <br>
  {{failed}}
  <div ng-repeat="groops in groupArr track by $index">
    <a ng-click="gettum()">{{groops.groupName}} </a> <button type="button" name="button" ng-click="removeG()">X</button>
  </div>
</div>
<div class="playerList" ng-show="showala">
  <h3>{{gName}}</h3>
  <input type="text" name="" value="" placeholder="New Player" ng-model="playa" ng-show="showo" >
  <button type="button" name="button" ng-click="newPlayer()" ng-show="showo">Create player</button>
  <br>
  {{failed}}
  <div ng-repeat="group in selectedGroup track by $index" >
    <p>{{group.player.name}} <button type="button" name="button" ng-click="remove()">X</button></p>
  </div>
</div>
